<!DOCTYPE html>
<html>
<head>
  <title><%= product.name %></title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1><%= product.name %></h1>
  <p><%= product.description %></p>
  <p><%= product.price %></p>
  <a href="/products">Back to Products</a>
  <a href="/">Go Back Home</a>
</body>
</html>
